:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F0F0F0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cardsContainer,
.searchContainer,
.formContainer {
  background-color: #DEDEDE;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 6px 6px 0px 1px #C9AC36;
  margin: 1em 2em;
}

button {
  background-color: #D1D5DC;
  border-radius: 5px;
  box-shadow: 1px 1px 0px 1px #BDC2CB;
  color: #696969;
  display: grid;
  padding: .75em 1.35em;
  margin: 2em 1em 1em 1em;
  transition: .5s;
  border: none;
  outline: none;
}

button:hover {
  scale: 1.08;
  background-color: #A4AAB7;
  border: none;
  outline: none;
}

#form-title {
  color: #38300F;
  padding-left: .4em;
}

label {
  color: #696969;
  padding-left: .4em;
}

#enter-name {
  margin: .5em;
  padding: .75em;
}

#enter-description {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin: .5em;
  height: 5em;
  padding: .75em;
  overflow: visible;
}

#search-bar {
  padding: .75em;
}

#search-bar,
#enter-name,
#enter-description {
  background-color: #D1D5DC;
  color: #696969;
  border: 1px;
  border-radius: 5px;
  box-shadow: 3px 2px 0px 1px #BDC2CB;
  /* padding: .75em; */
  display: grid;
  justify-self: stretch;
  transition: .3s;
}

#search-bar:focus,
#enter-name:focus,
#enter-description:focus {
  background-color: #BDC2CB;
  box-shadow: none;
  outline: none;
  border-color: #99A1AF;
}

.card {
  background-color: #D1D5DC;
  border: 1px;
  border-radius: 5px;
  padding: .2em;
  margin: .4em;
  padding-left: 1em;
  box-shadow: 3px 2px 0px 1px #99A1AF;
  transition: 1s;
  /* display: grid; */
}

.card:hover {
  transform: scale(1.02);
}

#name {
  color: #38300F;
}

#description {
  color: #696969;
}